//后台框架尺寸
$navMenu: 250px;
//主颜色
$mainColor: #f56c6c;
$layoutHeader: 75px;
@mixin webkit($type, $value) {
  -webkit-#{$type}: $value;
  #{$type}: $value;
}

.close {
  .el-submenu {
    &.is-opened {
      > .el-submenu__title {
        background: $mainColor !important;
      }
    }
  }
}
.el-menu--vertical {
  .el-menu {
    background: $mainColor !important;
  }
  .el-menu-item {
    line-height: 56px;
    &:hover {
      background: $mainColor !important;
    }
  }
}
